{% extends "base.html" %}
{% block content %}
<div class="bodyContent">
    {% for track in top_30_tracks %}
        <div class="finalPlaylistTrackContainer">
            <img src="{{ track['album_art'] }}" class="albumArt" />
            <p class="trackName">{{ track['track_name'] }}</p>
            <div class="artistsContainer">
                {% for artist in track['artists'] %}
                    <p class="artistName">{{ artist }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="saveToSpotifyButtonContainer">
        <form method="post" class="saveToSpotifyButtonForm">
            <input type="submit" value="Save to Spotify">
        </form>
    </div>
</div>
{% endblock %}