{% extends "base.html" %}
{% block content %}
<div class="bodyContent">
    <h2 class="appPrompt">Would you like to listen to new or familiar music?</h2>
    <div class="newOrFamiliarButtonsContainer">
        <a href="{{url_for('genres_page')}}" class="buttonText"><div class="newOrFamiliarButton">New</div></a>
        <div class="buttonSeparator"></div>
        <a href="{{url_for('genres_page')}}" class="buttonText"><div class="newOrFamiliarButton">Familiar</div></a>
    </div>
</div>
{% endblock %}