{% extends "base.html" %}
{% block content %}
<div class="bodyContent">
    <h2 class="appPrompt">Would you like to listen to new or familiar music?</h2>
    <div class="newOrFamiliarButtonsContainer">
        <form method="post" class="NoFButtonForm">
            <input type="hidden" name="NoFButton" value="new">
            <input type="submit" value="New">
        </form>
        <form method="post" class="NoFButtonForm">
            <input type="hidden" name="NoFButton" value="familiar">
            <input type="submit" value="Familiar">
        </form>
    </div>
</div>
{% endblock %}