body {
    background-color: rgb(44, 44, 44);
    padding: 20px;
}

.appTitle {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #063eda;
    margin: 0;
}

.appPrompt {
    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    text-align: center;
    padding-top: 200px;
    color: white;
}

.newOrFamiliarButtonsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.uiButton {
    height: 44px;
    background-color: #063eda;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    padding: 0 20px;
    border-radius: 12px;
    font-weight: 600;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.uiMultiSelect {
    
}