body {
    background-color: rgb(44, 44, 44);
    padding: 20px;
}

.appTitle {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #063eda;
    margin: 0;
}

.appPrompt {
    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    text-align: center;
    padding-top: 200px;
    color: white;
}

.newOrFamiliarButtonsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.uiButton {
    height: 44px;
    background-color: #063eda;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    padding: 0 20px;
    border-radius: 12px;
    font-weight: 600;
    margin: 10px;
    border: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.genreLabel {
    height: 40px;
    width: auto;
    fill-opacity: 0;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    padding: 0 20px;
    border-radius: 12px;
    border: 2px solid white;
    font-weight: 600px;
    margin: 6px 3px;
    cursor: pointer;
    line-height: 44px;
}

input[type="checkbox"]:checked + .genreLabel {
    background-color: #063eda;
    border-color: #063eda;
}

.genresForm {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.genresList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.genreSubmitButton {
    margin: 30px 0;
}

.genresBody {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}